header {
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 40vh; */
    align-items: center;
    height: 100vh;
  }
  .header-image {
    background-image: url('../images/abstract.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: flex;
  }

  header h1 {
    font-size: var(--text-header1);
    text-align: center;
    margin-top: 5vh;
    overflow: hidden;
    padding-bottom: 10vh;
    z-index: 10;
  }
  
  .title {
    margin: 20px;
    font-size: var(--text-header1);
    text-align: left;
  }
  .text-div{
    width: 80%;
  }
  .slika-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: 2%;
  }

  .mal-div-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .scroll-div{
    margin-top: 80vh;
  }

.language-switch{
  display: flex;
  margin-left: 0;
  margin-top: 20%;
  overflow: hidden;
  padding: 10px;
  height: 10vh;
  color: white;
  filter: invert(1);
}
  
  