.links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .youtube-video {
    display: flex;
    margin: 10px;
    justify-content: center;
    border-radius: 5%;
    border: 1px var(--color1) solid;
  }
  .videi {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }
  @media screen and (max-width: 768px) {
    .videi {
      flex-direction: column;
      margin-top: 0;
    }
    .youtube-video {
      width: 90vh;
    }
  }
  .posnetki {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
  }
  